:root{
    --primary-color: #E0E0E0;
    --secondary-color:#9b8e16;
    --title-color: #5D3FD3;
    --back-color: #1A2A40;
}

body{
    font-size: 62.5%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    color: var(--primary-color);
    background-color: var(--back-color);
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background/jean.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: -1;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    position: fixed;
    width: 100%;             
    top: 0;
}

.logomarca{
    width: 2rem;
    padding-left: .2rem;
}

.header__nav{
    padding-top: 1rem;
    display: flex;
}

.header__nav-ul{
    font-size: .8rem;
    align-items: center;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 1rem;
}

.header__nav-ul a{
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    transition: color .7s;
    gap: 1rem;
    padding: .3rem .5rem;
}

.header__nav-ul a:hover{
    color: var(--secondary-color);
}

.li_border{
    outline: 1.8px solid var(--secondary-color); 
    border-radius: 5px;
    padding: 0rem;
    display: flex;
    align-items: center;
}

.icon{
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); /*Contorno branco ao icone do github*/
    width: 0.8rem;
    transition: filter .7s;
}

.header__nav-ul a:hover > .icon{
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(90deg);
}

.github a:hover {
    color: var(--secondary-color) !important;
}

.github a:visited,
.github a:active {
    color: var(--primary-color);
}

.padder{
    padding: 1rem;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title{
    margin: 0;
    font-size: 2rem;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.9);
}

.hero-container p{
    margin: 0;
    font-size: 1rem;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.9);
}

.chevron-down{
    margin-top: 2rem;
    filter: invert(1);
}

.back_color{
    background-color: var(--back-color);
}

.formacao_card {
    flex-grow: 1; /* Faz com que cada card cresça igualmente */
}

.title{
    font-size: 1.6rem;
    color: var(--title-color);
    margin: 0;
    padding: 6rem 0rem 2rem;
    text-align: center;
}

.formacao_card img {
    width: 100%;
    height: 11rem;
    display: block;
}

.formacao__cards-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 2rem;
    padding: 0rem 2rem 0rem 2rem;
}

.formacao_card_content{
    border: .5px solid #ccc;
    border-radius: 15px;
    border-radius: 0 0 8px 8px;
    border-top: transparent; 
    padding: 1rem 1.25rem;
}

.formacao_card_content h3{
   margin: 0; 
}

.about-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-desc p{
    line-height: normal;
}

.about-content-aside{
    display: flex;
    justify-content: center;
}

.profile-pic{
    width: 17rem;
}

.about-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
    max-width: 800px;
}

.about-list {
    list-style-type: none;
    padding: 0;
}

.about-list li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.about-list a {
    font-size: 1.1em;
    text-decoration: underline;
    color: #007bff;
    display: block;
    margin-bottom: 10px;
}

.about-list a:hover {
    color: #0056b3;
}

.left-column,
.right-column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 0 2%;
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: right;
}

.collapse {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

@media screen and (min-width: 1024px){
    .header{
        padding: 0.5rem 2rem 0.5rem 5rem;
        justify-content: space-between;
    }

    .title{
        padding: 3rem 0rem 1rem 0rem;
    }

    .formacao__cards-container{
        margin: 0 auto;
        max-width: 50%;
    }

    .carousel{
        max-width: 100%;
        max-height: 50%;
    }

    .carousel-inner img {
        height: 30rem; /* Ajuste a altura conforme necessário */
        object-fit: cover; /* Isso garante que a imagem preencha o espaço sem distorção */
    }
    
}