:root{
    --primary-color: #E0E0E0;
    --secondary-color:#9b8e16;
    --title-color: #5D3FD3;
    --back-color: #1A2A40;
}

body{
    font-size: 62.5%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    color: var(--primary-color);
    background-color: var(--back-color);
}

/* .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background/jean.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: -1;
} */

.header{
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7px;
    position: fixed;
    width: 100%;             
    top: 0;
    z-index: 1000;
    transition: background-color 0.8s ease;
}

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.920);
}

body.home .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body.register{
    background-image: url(../images/background/register.png);
    background-size: cover;
    background-position: center;
}

.logomarca{
    width: 2rem;
    padding-left: .2rem;
}

.header__nav{
    padding-top: 1rem;
}

.header__nav-ul{
    font-size: .8rem;
    align-items: center;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 1rem;
}

.header__nav-ul a{
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    transition: color .7s;
    gap: 1rem;
    padding: .3rem .5rem;
}

.header__nav-ul a:hover{
    color: var(--secondary-color);
}

.li_border{
    outline: 1.8px solid var(--secondary-color); 
    border-radius: 5px;
    padding: 0rem;
    display: flex;
    align-items: center;
}

.icon{
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    width: 0.8rem;
    transition: filter .7s;
}

.header__nav-ul a:hover > .icon{
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(90deg);
}

.github a:hover {
    color: var(--secondary-color) !important;
}

.github a:visited,
.github a:active{
    color: var(--primary-color);
}

.padder{
    padding: 1rem;
}

.hero{
    position: relative;
    background-image: url(../images/background/jean.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.hero::before {
    content: "";  
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);  
    z-index: -1; 
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title{
    margin: 0;
    font-size: 2rem;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.9);
}

.hero-container p{
    margin: 0;
    font-size: 1rem;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.9);
}

.chevron-down{
    margin-top: 1rem;
    filter: invert(1);
    z-index: 3;
    transition: transform 0.3s ease;
    cursor: pointer; 
}

.chevron-down.move-down {
    transform: translateY(1rem); 
}

.back_color{
    background-color: var(--back-color);
}

.title {
    font-size: 1.6rem;
    color: var(--title-color);
    margin: 0;
    padding: 6rem 0rem 2rem;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.9)
}

.formacao__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.formacao_card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease;
    width: calc(80% - 2rem)
}

.formacao_card:hover {
    transform: translateY(-.8rem);
}

.formacao_card img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}
.formacao_card_content {
    padding: 1rem 1.25rem;
    border-top: 1px solid #ddd;
}

.formacao_card_content h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

.formacao_card_content p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
}

.about-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-desc p{
    line-height: normal;
    font-size: .8rem;
}

.profile-pic-container{
    display: flex;
    justify-content: center;
}

.profile-pic{
    width: 17rem;
}

.about-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
    max-width: 800px;
}

.about-list {
    list-style-type: none;
    padding: 0;
}

.about-list li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.about-list a {
    font-size: 1.1em;
    text-decoration: underline;
    color: #007bff;
    display: block;
    margin-bottom: 10px;
}

.about-list a:hover {
    color: #0056b3;
}

.left-column,
.right-column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 0 2%;
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: right;
}

.collapse {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.rgb-title {
    padding-top: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    animation: rgb-animation 5s infinite;
}

.texto-presenca{
    font-size: 1rem;
    text-align: center;
}


.card {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
}

.form-label {
    font-weight: 500;
    color: #333;
    font-size: 1.1rem;
}

input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#usuarios-lista {
    margin-top: 30px;
    max-height: 6rem;
    overflow-y: auto; 
}

#usuarios-lista ul {
    list-style-type: none;
    padding-left: 0;
}

#usuarios-lista li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#usuarios-lista li:nth-child(even) {
    background-color: #e8e8e8;
}

footer {
    background: linear-gradient(135deg, #1A2A40, #5D3FD3);
    color: #E0E0E0; 
    padding: 1rem 1rem;
    margin-top: 3rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: pulse 3s infinite;
    transform: translate(-50%, -50%);
}

.footer-cta {
    z-index: 1;
    position: relative;
}

.footer-cta p {
    padding-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #E0E0E0;
}

.footer-cta a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #9b8e16; 
    padding: 5px 5px;
    border-radius: 30px;
    border: 2px solid #9b8e16;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.footer-cta a:hover {
    color: #1a2a4093; 
    background-color: #9b8e16;
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.footer-cta a:active {
    transform: scale(0.95);
}

footer p {
    font-size: 0.9rem;
    color: #E0E0E0;
    margin-top: 20px;
}

@keyframes rgb-animation {
    0% {
        color: rgb(255, 0, 0); 
    }
    25% {
        color: rgb(0, 255, 0); 
    }
    50% {
        color: rgb(80, 80, 252); 
    }
    75% {
        color: rgb(255, 255, 0); 
    }
    100% {
        color: rgb(255, 0, 255);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
}


@media (min-width: 600px) {
    .header__nav-ul {
        font-size: 1rem; 
        gap: 2rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero-container p {
        font-size: 1.2rem; 
    }

    .formacao__cards-container {
        gap: 2rem;
    }

    .formacao_card {
        width: calc(50% - 2rem); 
    }

    .about-desc p {
        font-size: 1rem; 
    }

    .profile-pic {
        width: 20rem;
    }

    .about-container {
        max-width: 900px; 
        padding: 40px;
    }

    .about-list a {
        font-size: 1.2rem; 
    }

    .left-column, .right-column {
        width: 48%; 
    }

    .carousel-caption h5, .carousel-caption p {
        font-size: 1.3rem;
    }

    .form-label {
        font-size: 1.2rem; 
    }

    .formacao_card_content p {
        font-size: 1rem; 
    }
}

@media (min-width: 992px) {
    .header__nav-ul {
        font-size: 1.2rem;
        gap: 3rem; 
    }

    .hero__title {
        font-size: 3rem; 
    }

    .about-container {
        padding: 50px;
    }

    .profile-pic {
        width: 22rem; 
    }

    .formacao__cards-container {
        max-width: 1200px;
    }

    .title {
        font-size: 2rem;
    }
}


@media screen and (min-width: 1024px){
    .header{
        padding: 0.5rem 2rem 0.5rem 5rem;
        justify-content: space-between;
        padding: 1rem 5rem;
    }

    .title{
        padding: 6rem 0rem 1rem 0rem;
    }

    .hero {
        height: 100vh;
    }

    .hero__title {
        font-size: 4rem;
    }

    .formacao__cards-container{
        margin: 0 auto; 
    }

    .carousel{
        max-width: 100%;
        max-height: 50%;
    }

    .carousel-inner img {
        height: 30rem; 
        object-fit: cover;
    }
    
    .about-container {
        max-width: 1200px;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.5)
    }

    .left-column,
    .right-column {
        width: 45%;
    }

    .about-list li {
        padding: 25px 0;
        border-bottom: 2px solid #ccc;
    }

    .about-list a {
        font-size: 1.3em;
        color: #333;
        letter-spacing: 1px;
        transition: color 0.2s ease, transform 0.3s ease;
    }

    .about-list a:hover {
        color: #007bff;
        transform: scale(1.1);
    }

    .left-column {
        animation: slideInLeft 1s ease-out;
    }

    .right-column {
        animation: slideInRight 1s ease-out;
    }

    .texto-presenca {
        font-size: 1.4rem; 
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
}